html{
  scroll-behavior: smooth;
  transition-delay: 4s;
}
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    font-size: 180%;
    z-index: 999;
  }
  
blockquote{
    color: #808080;
}

cite{
    color: #000000;
}
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }


  #my-carousel{
    background-color:#eeecec ;
}
.carousel-main{
    background: rgba(0, 0, 0);
    width:100%;
    max-height: 670px !important;
}

  
.my-carousel-caption {
    position: absolute;
    top:370px;
    color:#00203FFF;
 }

 .my-carousel-caption{
     backdrop-filter: opacity(100%);
 }
 

 .row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 20px 0px;
    /* border-bottom: 1px ridge; */
    min-height: 150px;
}



.row-content-main{
  margin: 0px auto;
  padding: 50px 0px;
  /* border-bottom: 1px ridge; */
  min-height: 400px;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0F0F0F;
}

body{
    padding: 0px 0px 0px 0px;
    z-index: 0;
    /* color: #FFFFFF; */
    /* background: #000000; */
}

p{
    font-size: 1.1em;
}

.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.key-features-heading{
    padding: 15px 0px;
    border-top: 1px ridge;
    margin-top: 60px;
}

.gpu-type-heading{
    padding: 15px 0px;
    margin-top: 5px;
}

.myaccordian{
    color: #000000;
}

.company_logo{
    margin-left: 60px;
}

#overview_back{
    cursor: not-allowed;
}

.page-heading{
  margin: 20px 0px; 
  font-family: 'Trade Winds'; 
  text-align: center; 
  font-size: 5vw;
  background: -webkit-linear-gradient(left, #F32170, #FFEB07, #2196F3, #FF00EB);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}



.footer{
  background: #004500;
  margin: 0px auto;
  padding: 20px 0px;
  color: #FFFFFF;
}

div .code{
  /* background-color: #272822; */
  background-color: #000000;
  width: 48vw;
  height: 100vh;
  overflow: scroll;
  border-radius: 10px 10px 10px 10px;
  margin-left: 20%;
}
code{
  color:#18ca18;
  
}
.mycode{
  margin-left: 5%;
  margin-top: 5%;
}

.keyword{
  color:#E6DB5A;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  height: 100vh;
}

.grid img {
  width: 200px;
  height: 350px;
  cursor: pointer;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}

.functions{
  color:#E6DB5A;
}

.io{
  color:#FABDBC;
}